.correct-ans:checked{
    background-color: #198754;
    border-color: #0f5132;
}


.incorrect-ans:checked{
    background-color: #dc3545;
    border-color: #842029;
}


.inline-q{
    display:inline !important;
}

.changelog{
    font-size: small;
}

/* Remove number spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number spinner: Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}